<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.tabl">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tabl_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- starting activity -->
        <activity
            android:name=".SplashPageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- main app flow -->
        <activity android:name=".FindRestaurantActivity"
            android:label="Select Restaurant"/>
        <activity android:name=".MenuActivity" />
        <activity android:name=".SelectTableActivity"
            android:label="Select Table"/>
        <activity android:name=".BasketActivity"
            android:label="Basket"/>
        <activity android:name=".CheckoutActivity"
            android:label="Select Table"/>

        <!-- utility views -->
        <activity android:name=".MoreActivity"
            android:label="More"/>
        <activity android:name=".PastOrdersActivity"
            android:label="Past Orders"/>

        <!-- if you're getting an error here, ask me for the API key
         -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>